* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #444;
}

.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/* adicionando o gradiente do fundo*/
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-40deg, #212020, #908f8f);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

/*ajustando os dois campos lado a lados */
.page-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;

}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.login-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.criar-conta-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}


.titulo {
    font-size: 35px;
    color: #8B0000;
    margin-bottom: 10px;

}

.campo-input {
    width: 100%;
    height: 50px;
    background: #f4f1f1;
    margin: 10px 0;
    border: 2px solid #410101;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

/* ICONES */
.campo-input i {
    /*---------------------------------------------------!!!!!!!!!!!!!!----*/
}

.campo-input input {
    flex: 5;
    padding: 30px;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #f4f3f3;
    color: #610e0e;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
}

.btn:hover {
    background: #8b000045;
}

.login-texto {
    margin: 10px 0;
    font-size: 16px;
}

.midias-sociais {
    display: flex;
    justify-content: center;
}

.midias-icons {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6e3e3;
    border: 1px solid #e6e3e3;
    border-radius: 50px;
    margin: 0 5px;
}

a {
    text-decoration: none;
}

.midias-icons:hover {
    color: #8B0000;
    border-color: #8B0000;

}

.painel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

.painel-esquerdo {
    pointer-events: none;
}


.content {
    color: #e6e3e3;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3 {
    font-size: 24px;
    font-weight: 600;
}

.panel p {
    font-size: 15px;
    padding: 10px 0;
}

.image {
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.account-text{
    display: none;
}

/*animação*/

.painel-esquerdo .image,
.painel-esquerdo .content {
    transform: translateX(-200%);
}

.painel-direito .image,
.painel-direito .content {
    transform: translateX(0);
}

.container.btn-criar-conta-mode::before {
    transform: translateX(0);
}

.container.btn-criar-conta-mode .painel-direito .image,
.container.btn-criar-conta-mode .painel-direito .content {
    transform: translateX(200%);
}

.container.btn-criar-conta-mode .painel-esquerdo .image,
.container.btn-criar-conta-mode .painel-esquerdo .content {
    transform: translateX(0);
}

.container.btn-criar-conta-mode form.login-form {
    opacity: 0;
}

.container.btn-criar-conta-mode form.criar-conta-form {
    opacity: 1;
}

.container.btn-criar-conta-mode .painel-direito {
    pointer-events: none;
}

.container.btn-criar-conta-mode .painel-esquerdo {
    pointer-events: all;
}

/*responsividade*/

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

}

@media (max-width:635px) {
    .container::before {
        display: none;
    }

    form {
        width: 80%;
    }

    form.criar-conta-form {
        display: none;
    }

    .container.btn-criar-conta-mode2 form.criar-conta-form {
        display: flex;
        opacity: 1;
    }

    .container.btn-criar-conta-mode2 form.login-form {
        display: none;
    }

    .painel-container {
        display: none;
    }
    .account-text{
        display: initial;
        margin-top: 30px;
    }

}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}