*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #d1d1d141;
}

.sidebar{
    width: 12rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    background-color: #B22222;
    color: azure;
    position: fixed;
    left: 0;
    border-top-right-radius: 2.5rem;
}

.logo{
    letter-spacing: 2;
}

.menus{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menus a{
    display: flex;
    align-items: center;
    color: azure;
    text-decoration: none;
}

.menus .icon{
    margin-right: 0.5rem;
}

.menus a:hover{
    color: rgb(181, 69, 69);
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: aliceblue;
    color: brown;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile:hover{
    background-color: rgb(181, 69, 69);
}

.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-name p{
    font-size: 12px;
}

.main{
    width: calc(100% - 25%);
    min-height: 100%;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 2rem;
    margin-left: 20%;
    z-index: 1;
}

.main-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*mobile*/

    .menu-bar{
        background-color: aliceblue;
        padding: 0.5rem;
        border-radius: 20px;
        display: none;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    position: relative;
    background-color: rgb(246, 246, 246);
}

.search input{
    width: 90%;
    border: none;
}

.btn-search{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5%;
    border: none;
    background-color: brown;
    color: aliceblue;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn-search:hover{
    background-color: antiquewhite;
}


/*cards*/

.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card{
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgb(214, 212, 212);
}

.cardBox .card .valor{
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: #8B0000;
}

.cardBox .card .cardName{
    color: #2c2b2b;
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBox{
    font-size: 2rem;
    color: #2c2b2b;
}

.cardBox .card:hover{
    background: #8b0000bc;
}


.cardBox .card:hover .valor,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox{
    color: #fff;
}


/*details*/

.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /*margin-top: 10px;*/

}

.details .recentAdd{
    position: relative;
    display: grid;
    min-height: 500px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 7px 25px rgb(214, 212, 212);
    border-radius: 20px;
}

.details .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    color: #8B0000;
}

.cardHeader .btn{
    position: relative;
    padding: 6px 10px;
    background: #cc3a3a;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .recentAdd table tr {
    color: #2c2b2b;
    border-bottom: 1px solid rgb(214, 212, 212);
}

.details .recentAdd table tr:last-child{
    border-bottom: none;
}

.details .recentAdd table tr td:last-child{
    text-align: end;
}

.details .recentAdd table tr td:nth-child(2){
    text-align: end;
}
.details .recentAdd table tr td:nth-child(3){
    text-align: center;
}
.details .recentAdd table tr td{
    padding: 10px;
}

.details .recentAdd table tbody tr span{
    position: relative;
    padding: 6px 10px;
}

.status1{   
    background: #cc3a3a;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;   
}
.status2{   
    background: #cca53a;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;   
}
.status3{   
    background: #3acc77;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;   
}
.status4{   
    background: #3c3acc;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;   
}

.td{
    width: 60px;
}
.customers{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgb(214, 212, 212);
    border-radius: 20px;
}

.customers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;

}

.customers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customers table tr td{
    padding: 12px 10px;
}

.customers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
}

.customers table tr td h4 span{
    font-size: 14px;
    color: #9b9b9b;
}

/*responsividade*/
@media (max-width: 991px) {
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 768px){
    .details{
        grid-template-columns: 1fr;
    }
    .recentAdd{
        overflow-x: auto;
    }
}

@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .menu{
        z-index: 10001;
    }
    .main.active .menu{
        color: #fff;
        position: fixed;
        right: 0;
        left: initial;
    }
}

/*filtros*/

.filter-wrapper{
    margin: 1rem 0;
    font-size: 14px;
}

.filter{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.btn-filter{
    min-width: 110px;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background-color: #d17272;
}

.btn-filter:hover{
    background-color: #9b9b9b;
    color: #fff;
    box-shadow: #9b9b9b 0px 3px 8px;
}



.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    overflow-y: auto;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    margin: 0 1%;
    background-color: #ffffff;
    line-height: 1.5;
    gap: 1.5rem;
    box-shadow: rgb(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.card:hover{
    box-shadow: rgb(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-left{
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.card-left img{
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 1rem;

}

.card-center{
    width: 50%;
}

.card-loc, .card-sub{
    font-size: 13px;
    color: #4b4b4b;
}

.card-sub{
    display: flex;
    flex-wrap: wrap;
}

.card-sub p{
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
}

.card-right{
    width: 15%;
}

.card-tag a{
    color: #2c2b2b;
    font-size: 13px;
}

.card-info{
    padding: 0.5rem 0;
    color: #8B0000;
}

.card-info span{
    color: #2c2b2b;
    font-size: 13px;
}
/*
.blue-bg{
    background-color: #9b9b9b;
}*/
 
@media screen and (max-width:1200px) {
    .menu-bar{
        display: block;
    }

    .sidebar{
        display: none;
    }

    .main{
        width: calc(100% - 40%);
        margin-left: 0;
    }
    .details{
        width: 40%;
    }
    
}

@media screen and (max-width:800px){
    .main{
        width: 100%;
    }

    .detail{
        display: none;
    }
    
    .detail.active{
        display: block;
        width: 100%;
        z-index: 100;
    }

    
    
}


.divider{
    width: 100%;
    height: 1px;
    background-color: #b1b1b1;
    border: none;
    margin: 1rem 0;
}